/*=== Общие ===*/

:root {
  /* Палитра */
  --color-white: #ffffff;
  --color-bright-pink: #d41443;
  --color-light-pink: #ffa5ba;
  --color-second-light-pink: #ffb8ca;
  --color-light-orange: #f0d1a5;
  --color-light-green: #c2e297;
  --color-very-light-pink: #fff5f6;
  --color-black: #000000;
  --color-grey-white: #ecebeb;

  /* Названия переменных */
  --main-text-background-color: var(--color-white);
  --main-text-color: var(--color-bright-pink);
  --second-text-color: var(--color-light-pink);
  --second-text-background-color: var(--color-second-light-pink);
  --third-text-color: var(--color-black);
  --third-backround-color: var(--color-light-green);
  --fourth-bacground-color: var(--color-very-light-pink);
  --not-hover-background: var(--color-grey-white);

  --main-font-family: "DM Sans", sans-serif;
  --secondary-font-family: "Titan One", cursive;
}

body {
  color: var(--main-text-background-color);
  /* background-color: var(--main-text-background-color); */
  background-color: aqua;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.04em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-background-color);
}

.title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.title-begin {
  font-size: 30px;
  line-height: 1.13;

  color: var(--second-text-color);
}

.title-accent {
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;

  color: var(--main-text-color);
}

/*=== Навигация ===*/
.site-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  /* display: flex; */
  /* align-items: center; */
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-bright-pink);
}

.button {
  display: inline-block;
  min-width: 100;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 22px;

  background-color: var(--not-hover-background);

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.button:hover,
.button:focus {
  background-color: var(--main-text-background-color);
}

/*=== /Навигация ===*/

/*=== О нас ===*/
.about-us .title-begin {
  font-size: 38px;
  line-height: 1.16;
  color: var(--main-text-background-color);
}

.about-us .title-accent {
  font-size: 58px;
  line-height: 0.9;
  color: var(--main-text-color);
}

.about-us .button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  background-color: var(--main-text-background-color);
  border-radius: 20px;
}

.about-us .button:hover,
.about-us .button:focus {
  color: var(--main-text-background-color);
  background-color: var(--main-text-color);
}

.number-of-stores {
  line-height: 1.29;
}

.accent-number {
  font-family: var(--secondary-font-family);
  font-size: 46px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--main-text-color);
}
/*=== /О нас ===*/

/*=== Виды продукции и состав ===*/

/*=== /Виды продукции и состав ===*/
